.App {
  flex: 1;
  height: 20%;
  justify-content: center;
  text-align: center;
  
 
}
.child1 {
  height: 20%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.child1::-webkit-scrollbar {
  display: none;
}


.child2 {
  height: 80%;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.child2::-webkit-scrollbar {
  display: none;
}
.container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
 
}
.container::-webkit-scrollbar {
  display: none;
}
.resultContainer{
  flex:1;
  display: flex;
  height: 60%;
  justify-content: center;
  margin: 5%;
  overflow-y: scroll;
}
.resultContainer::-webkit-scrollbar {
  display: none;
}

.form{
  margin-left: 10%;
  padding:3%;
}
.form::-webkit-scrollbar {
  display: none;
}
.results{
  display: inline-flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
